<input type="search" value="" name="curOrganName"  placeholder="please enter" id="cl_obj" autocomplete="off" class="inputs paddingleft">
<input type="hidden" name="yd_mc" class="cl_pub" id="cl_obj1">
<input type="hidden" name="currentdeptcode" id="currentdeptcode" value="">
<div id="auto_obj"></div>
